<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>COFIXtime</title>
    <link rel="stylesheet" href="{% static 'css/stylesheet.css'%}" type="text/css">
</head>
<body>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="inactive underlineHover">COFIXtime </h2>

    <!-- Login Form -->
    <form method="POST">
      {% csrf_token %}
      <input type="text" id="username" class="fadeIn second" name="login" placeholder="username" value="{{ form.username }}">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password" value="{{ form.password }}">
      <input type="submit" class="fadeIn fourth" value="Login">
    </form>

  </div>
</div>

</body>
</html>